@model Cocina.Models.aUsuarios

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section menu
{
    <ul class="menu">
        <!-- * .menu-objeto -->
        <li class="menu-item has-active">
            <a href="#" class="menu-link">
                <i class="menu-icon fas fa-user-plus"></i> <span class="menu-text">Registrar usuarios</span>
            </a>
        </li>
        <!-- / .menu-objeto -->
        <!-- * .menu-objeto -->
        <li class="menu-item">
            <a href="#" class="menu-link">
                <i class="menu-icon fas fa-chalkboard-teacher"></i> <span class="menu-text">Registrar menu para usuario</span>
            </a>
        </li>
        <!-- / .menu-objeto -->
        <!-- * .menu-objeto -->
        <li class="menu-item">
            <a href="#" class="menu-link">
                <i class="menu-icon fas fa-table"></i> <span class="menu-text">
                    Pedido de
                    platillos de barra
                </span>
            </a>
        </li>
        <!-- / .menu-objeto -->
        <!-- * .menu-objeto -->
        <li class="menu-item">
            <a href="#" class="menu-link">
                <i class="menu-icon fas fa-comments"></i> <span class="menu-text">Comentarios</span>
            </a>
        </li>
        <!-- / .menu-objeto -->
        <!-- * .menu-objeto -->
        <li class="menu-item">
            <a href="#" class="menu-link">
                <i class="menu-icon fas fa-ticket-alt"></i> <span class="menu-text">Tickets</span>
            </a>
        </li>
        <!-- / .menu-objeto -->
        <!-- * .menu-objeto -->
        <li class="menu-item">
            <a href="#" class="menu-link">
                <i class="menu-icon fas fa-calendar-check"></i> <span class="menu-text">Publicacion de menu</span>
            </a>
        </li>
        <!-- / .menu-objeto -->
        <!-- * .menu-objeto -->
        <li class="menu-item">
            <a href="#" class="menu-link">
                <i class="menu-icon fas fa-clipboard-list"></i> <span class="menu-text">Reporte de menu para nomina</span>
            </a>
        </li>
        <!-- / .menu-objeto -->
        <!-- * .menu-encabezado -->
        <li class="menu-header">Empleados </li>
        <!-- /.menu-encabezado -->
        <!-- * .menu-objeto -->
        <li class="menu-item">
            <a href="#" class="menu-link">
                <i class="menu-icon fas fa-calendar-alt"></i>
                <span class="menu-text">Calendario de Menus</span>
            </a>
        </li>
        <!-- / .menu-objeto -->
        <!-- * .menu-objeto -->
        <li class="menu-item">
            <a href="#" class="menu-link">
                <i class="menu-icon fas fa-utensils"></i>
                <span class="menu-text">Seleccion de Menu</span>
            </a>
        </li>
        <!-- / .menu-objeto -->
        <!-- * .menu-objeto -->
        <li class="menu-item">
            <a href="#" class="menu-link">
                <i class="menu-icon fas fa-history"></i>
                <span class="menu-text">Historial de Registros</span>
            </a>
        </li>
        <!-- / .menu-objeto -->
        <!-- * .menu-objeto -->
        <li class="menu-item">
            <a href="#" class="menu-link">
                <i class="menu-icon fas fa-comment-dots"></i>
                <span class="menu-text">Comentarios</span>
            </a>
        </li>
        <!-- / .menu-objeto -->
        <!-- .menu-header -->
        <li class="menu-header">Comedor </li><!-- /.menu-header -->
        <!-- * .menu-objeto -->
        <li class="menu-item">
            <a href="#" class="menu-link">
                <i class="menu-icon fas fa-drumstick-bite"></i> <span class="menu-text">Platillos</span>
            </a>
        </li>
        <!-- / .menu-objeto -->
        <!-- * .menu-objeto -->
        <li class="menu-item has-child">
            <a href="#" class="menu-link">
                <i class="menu-icon fas fa-list-alt"></i> <span class="menu-text">Menu</span>
            </a> <!-- child menu -->
            <ul class="menu">
                <li class="menu-item">
                    <a href="#" class="menu-link">Menu</a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-link">Tipo de Menu</a>
                </li>
            </ul><!-- /child menu -->
        </li>
        <!-- / .menu-objeto -->
        <!-- * .menu-objeto -->
        <li class="menu-item">
            <a href="#" class="menu-link">
                <i class="menu-icon fas fa-user-check"></i> <span class="menu-text">Asistencia</span>
            </a>
        </li>
        <!-- / .menu-objeto -->
        <!-- * .menu-objeto -->
        <li class="menu-item">
            <a href="#" class="menu-link">
                <i class="menu-icon fas fa-comments"></i> <span class="menu-text">Comentarios</span>
            </a>
        </li>
        <!-- / .menu-objeto -->
        <!-- * .menu-objeto -->
        <li class="menu-item">
            <a href="#" class="menu-link">
                <i class="menu-icon fas fa-utensils"></i> <span class="menu-text">Seleccion de menu</span>
            </a>
        </li>
        <!-- / .menu-objeto -->
    </ul>
}

<div class="row">
    <div class="col-md-12">
        <div id="accordion2" class="card-expansion">
            <div class="card card-expansion-item expanded">
                <div class="card-header border-0" id="headingOne2">
                    <button class="btn btn-reset d-flex justify-content-between w-100"
                            data-toggle="collapse" data-target="#registroUsuario"
                            aria-expanded="true" aria-controls="registroUsuario">
                        <span>Registro de usuario</span>
                        <span class="collapse-indicator"><i class="fa fa-fw fa-chevron-down"></i></span>
                    </button>
                </div>
                <div id="registroUsuario" class="collapse show"
                     aria-labelledby="headingOne2" data-parent="#accordion2">
                    <div class="card-body pt-0">
                        <div class="form-layout form-layout-2">
                            <form id="form-usuario">
                                <input type="hidden" id="inputId" name="inputId">
                                <div class="row no-gutters">
                                    <div class="col-md-4 mg-t--1 mg-md-t-0">
                                        <div class="form-group mg-md-l--1">
                                            <label class="form-control-label">
                                                Nombre(s):
                                                <span class="badge badge-danger"><em>Requerido</em></span>
                                            </label>
                                            <input class="form-control-br" type="text"
                                                   id="inputNombre" name="inputNombre"
                                                   placeholder="Ingresa un nombre(s)">
                                        </div>
                                    </div>
                                    <div class="col-md-4 mg-t--1 mg-md-t-0">
                                        <div class="form-group mg-md-l--1">
                                            <label class="form-control-label">
                                                Apellido Paterno:
                                                <span class="badge badge-danger"><em>Requerido</em></span>
                                            </label>
                                            <input class="form-control-br" type="text"
                                                   id="inputAPaterno" name="inputAPaterno"
                                                   placeholder="Ingresa un apellido paterno">
                                        </div>
                                    </div>
                                    <div class="col-md-4 mg-t--1 mg-md-t-0">
                                        <div class="form-group mg-md-l--1">
                                            <label class="form-control-label">
                                                Apellido Materno:
                                                <span class="badge badge-secondary"><em>Opcional</em></span>
                                            </label>
                                            <input class="form-control-br" type="text"
                                                   id="inputAMaterno" name="inputAMaterno"
                                                   placeholder="Ingresa un apellido materno">
                                        </div>
                                    </div>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col-md-4 mg-t--1 mg-md-t-0">
                                        <div class="form-group mg-md-l--1 bd-t-0-force">
                                            <label class="form-control-label">
                                                Numero de Empleado:
                                                <span class="badge badge-danger"><em>Requerido</em></span>
                                            </label>
                                            <input class="form-control-br" type="text"
                                                   id="inputNEmpleado" name="inputNEmpleado"
                                                   placeholder="Ingresa un numero de empleado">
                                        </div>
                                    </div>
                                    <div class="col-md-8 mg-t--1 mg-md-t-0">
                                        <div class="form-group mg-md-l--1 bd-t-0-force">
                                            <label class="form-control-label mg-b-0-force">
                                                Tipo de usuario:
                                                <span class="badge badge-danger"><em>Requerido</em></span>
                                            </label>
                                            <select id="selectTEmpleado" name="selectTEmpleado"
                                                    class="form-control-br" data-placeholder="Elige un tipo">
                                                <option label="Elige un tipo de usuario" value="" selected></option>
                                                @foreach (var tUsuario in ViewBag.TUsuario)
                                                {
                                                    <option value="@tUsuario.Id">@tUsuario.Descripcion</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div id="correoUsuario" class="row no-gutters" style="display: none">
                                    <div class="col-md-12">
                                        <div class="form-group mg-md-l--1 bd-t-0-force">
                                            <label class="form-control-label">
                                                Correo Electronico:
                                                <span class="badge badge-danger"><em>Requerido</em></span>
                                            </label>
                                            <input class="form-control-br" data-mask="email"
                                                   id="inputEmail" name="inputEmail"
                                                   placeholder="Ingresa un correo electronico">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-layout-footer mg-md-l--1 bd pd-20 bd-t-0">
                                    <button id="btnGuardar" value="btnGuardar" class="btn btn-raised btn-wave bg-green">
                                        <i class="fas fa-save"></i>&nbsp; Registrar
                                    </button>
                                    <button id="btnActualizar" value="btnActualizar" class="btn btn-raised btn-wave blue-grey">
                                        <i class="fas fa-edit"></i>&nbsp; Actualizar
                                    </button>
                                    <button id="btnCancelar" value="btnCancelar" class="btn btn-raised bg-gray">
                                        <i class="fas fa-ban"></i>&nbsp; Cancelar
                                    </button>
                                </div>
                            </form>
                            @*<button id="btnCancelar" class="btn btn-raised bg-gray" style="position: relative; left: 165px; top: -57px;">
                                <i class="fas fa-ban"></i>&nbsp; Cancelar
                            </button>*@
                        </div>
                    </div>
                </div>
            </div><!-- /.card -->
        </div><!-- /#accordion2 -->
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <!-- .card-header -->
            <div class="card-header">
                <h5 class="card-title">Tabla de usuarios</h5>
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab"
                           href="#usu-activos">Usuarios Activos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link show" data-toggle="tab"
                           href="#usu-inactivos">Usuarios Inactivos</a>
                    </li>
                </ul>
            </div><!-- /.card-header -->
            <!-- .card-body -->
            <div class="card-body">
                <!-- .tab-content -->
                <div id="myTabCard" class="tab-content">
                    <div class="toolbar">
                        <div class="mt-2 mb-2">
                            <label class="switcher-control">
                                <input type="checkbox" class="switcher-input" name="switch" value="Externo">
                                <span class="switcher-indicator"></span>
                                <span class="switcher-label-on"><i class="fas fa-check"></i></span>
                                <span class="switcher-label-off"><i class="fas fa-times"></i></span>
                            </label>
                            Externo
                            <label class="switcher-control">
                                <input type="checkbox" class="switcher-input" name="switch" value="Administrador">
                                <span class="switcher-indicator"></span>
                                <span class="switcher-label-on"><i class="fas fa-check"></i></span>
                                <span class="switcher-label-off"><i class="fas fa-times"></i></span>
                            </label>
                            Administrador
                            <label class="switcher-control">
                                <input type="checkbox" class="switcher-input" name="switch" value="Comedor">
                                <span class="switcher-indicator"></span>
                                <span class="switcher-label-on"><i class="fas fa-check"></i></span>
                                <span class="switcher-label-off"><i class="fas fa-times"></i></span>
                            </label>
                            Comedor
                        </div>
                        <form class="flex">
                            <div class="input-group has-clearable mb-3">
                                <button id="clear-search" type="button" class="close"
                                        aria-label="Close">
                                    <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
                                </button>
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span class="oi oi-magnifying-glass"></span>
                                    </span>
                                </div>
                                <input id="buscador" type="text" class="form-control" placeholder="Buscar">
                            </div><!-- /.input-group -->
                        </form>
                    </div>
                    <div class="tab-pane fade active show" id="usu-activos">
                        <div class="table-responsive">
                            <table style="width: 100%;" id="usuarios-activos">
                                <thead>
                                    <tr>
                                        <th><span class="text-muted">No.Empleado</span></th>
                                        <th><span class="text-muted">Nombre</span></th>
                                        <th><span class="text-muted">Apellido Paterno</span></th>
                                        <th><span class="text-muted">Apellido Materno</span></th>
                                        <th><span class="text-muted">Id Tipo</span></th>
                                        <th><span class="text-muted">Tipo usuario</span></th>
                                        <th><span class="text-muted">Correo electronico</span></th>
                                        <th><span class="text-muted">Acciones</span></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="usu-inactivos">
                        <div class="table-responsive">
                            <table style="width: 100%;" id="usuarios-inactivos">
                                <thead>
                                    <tr>
                                        <th><span class="text-muted">No.Empleado</span></th>
                                        <th><span class="text-muted">Nombre</span></th>
                                        <th><span class="text-muted">Apellido Paterno</span></th>
                                        <th><span class="text-muted">Apellido Materno</span></th>
                                        <th><span class="text-muted">Id Tipo</span></th>
                                        <th><span class="text-muted">Tipo usuario</span></th>
                                        <th><span class="text-muted">Correo electronico</span></th>
                                        <th><span class="text-muted">Acciones</span></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div><!-- /.tab-content -->
            </div><!-- /.card-body -->
        </div>
    </div>
</div>

@section js_modelo
{
    <script src="~/Content/js/site/administracion/cUsuario_funciones.js"></script>
}