################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/.vs/SISCO/v15
/.vs
/Cocina/obj/Debug
/Cocina/obj/Release
